# Email Configuration (for nodemailer)
MAIL_HOST=smtp.mail.ru
MAIL_PORT=465
MAIL_USER=kyxtya093@mail.ru
MAIL_PASS=z1biumnIR79MIBmrsNuJ
MAIL_TO=kyxtya023@yandex.ru

# Site URL
SITE_URL=http://localhost:3000
